* {
  margin: 0;
}

.header {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  background-color: #901e2d;
  color: #fff;
  padding-left: 20px;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.user-avatar {
  width: 27px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.username {
  font-size: 14px;
  color: white;
}

.sign-in {
  background-color: transparent;
  color: #fff;
  border: solid;
  border-radius: 50px;
  padding: 8px 8px;
  cursor: pointer;
  margin-top: 20px;
}

.sign-in-container {
  display: flex;
  justify-content: flex-end;
}

.comment-boxes {
  margin: 20px;
  border: solid #901e2d;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.page-loading {
  text-align: center;
}

.error-404 {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.error-send-homepage {
  text-align: center;
}

.error-message {
  text-align: center;
  margin-top: 20px;
}

.navbar-list {
  list-style-type: none;
  padding: 8px 0 10px 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-color: #901e2d;
}

.navbar-list a {
  color: white;
  align-items: center;
}

.navbar-options {
  display: inline-block;
  margin-right: 20px;
  align-items: center;
}

.navbar-options:last-child {
  margin-right: 0;
}

.navbar-container-full-bleed {
  background-color: #901e2d;
  box-shadow: 0 0 0 100vmax #901e2d;
  clip-path: inset(0 -100vmax);
}

.welcome {
  text-align: center;
}
.tea {
  padding-bottom: 10px;
  text-align: center;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.article-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.article-card :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.article-container {
  padding: 2px 16px;
}

.breaking-news {
  margin-bottom: 10px;
}

.single-article-title {
  text-align: center;
}

.article-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
}

.single-article {
  padding: 20px;
}

.vote-button {
  margin: 10px
}

.postComment {
  padding: 0.9em;
  margin: 0.9em;
  border: lightgray;
  border-style: solid;
  border-width: 1px;
  width: 90%;
}

.submit-button {
  background-color: #901e2d;
  color:#fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: #470c14;
}

.comments-created-at {
 font-weight: bold; 
}

.likes-dislikes {
  font-weight: bold;
}

.delete-button {
  background-color: #901e2d;
  color:#fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 5px
  
}

.delete-button:hover {
  background-color: #470c14;
}